/* 1 */
.hr1-1{
    width:21% !important;
    background-color: red;
    margin-left: 42.5%;
}
.RezultatetKrahut{
    margin-left: 50%;
}
.hr1-2{
    width:21% !important;
    background-color: red;
    margin-left: 42.5%;
}


.RezultateKornizes{
    margin-left: 50%;

}
/* 2 */
.hr21-1{
    width: 20%;
    margin-left: 88%;
    background-color: red;
}
.hr22-1{
    background-color: red;
    width: 20%;
    margin-right: 75%;

}
.hr21-2{
    width: 20%;
    margin-left: 43%;
    background-color: red;
}
.RezultatetKrahut1{
    margin-left:94%;
}
.RezultatetKrahut2{
    margin-left:10%;
}
.RezultatetKornizes2{
    width: 40%;
    margin-left: 50.5%;
}

/* 2 Ndarese */


.hrN21-1{
    width: 20%;
    margin-left: 88%;
    background-color: red;
}
.hrN22-1{
    background-color: red;
    width: 20%;
    margin-right: 75%;

}
.hrN21-2{
    width: 20%;
    margin-left: 43%;
    background-color: red;
}
.RezultatetKrahutA1{
    margin-left:94%;
}
.RezultatetKrahutA2{
    margin-left:10%;
}
.RezultatetKornizesA2{
    width: 40%;
    margin-left: 50.5%;
}

/* 3 */
.hr21-3{
    width: 100%;
    margin-left: 30% !important;
    background-color: red;
    
    
}
.hr22-3{
    background-color: red;
    margin-left: 10%;

    width: 100%;
}
.hr23-3{
    width: 100%;
    margin-left:0%;
    background-color: red;
}
.RezultatetKrahut31{
 margin-left:40%; 
} 
 .RezultatetKrahut32{ 
    width: 40%;
     margin-left: 18.5%; 
} 
.RezultatetKrahut33{
    width: 40%;
     margin-left: 10.5%; 
}
.hr3{
    background-color: red;
    width: 23%;
    margin-left: 41.8%; 
}
.RezultatetKornizes3{
    margin-left: 50%;
}
.TreguesiVlerave3{
    margin-left: 40%;
}

/* 3 Ndarese */


.hrN21-3{
    width: 100%;
    margin-left: 30% !important;
    background-color: red;
    
    
}
.hrN22-3{
    background-color: red;
    margin-left: 10%;

    width: 100%;
}
.hrN23-3{
    width: 100%;
    margin-left:0%;
    background-color: red;
}
.RezultatetKrahutN31{
 margin-left:40%; 
} 
 .RezultatetKrahutN32{ 
    width: 40%;
     margin-left: 18.5%; 
} 
.RezultatetKrahutN33{
    width: 40%;
     margin-left: 10.5%; 
}
.hrN3{
    background-color: red;
    width: 23%;
    margin-left: 41.8%; 
}
.RezultatetKornizesN3{
    margin-left: 50%;
}
.TreguesiVleraveN3{
    margin-left: 40%;
}


/* 4 */

.hr11-4{
    width: 80%;
    margin-left:100% !important;
    background-color: red;
    
    
}
.hr12-4{
    background-color: red;
    margin-left:60% !important;
    width: 80%;
}
.hr13-4{
    width: 80%;
    margin-left:10% !important;
    background-color: red;
}
.hr14-4{
    width: 80%;
    /* margin-left: 0%; */
    position: relative;
     right: 50%;
    /* margin-right:110% !important; */
    background-color: red;
}
.RezultatetKrahut41{
 padding-left:100%; 
} 
 .RezultatetKrahut42{ 
    width: 40%;
     margin-left: 58.5%; 
} 
.RezultatetKrahut43{
    width: 40%;
     margin-left: 10.5%; 
}
.RezultatetKrahut44{
    width: 40%;
     /* margin-left: 15.5%;  */
     position: relative;
     right: 35%;
}


.hr4{
    background-color: red;
    width: 23%;
    margin-left: 41.8%; 
}
.RezultatetKornizes4{
    margin-left: 51%;
}
.TreguesiVlerave4{
    margin-left: 35%;
}

/* 4 Ndarese */

.hrN11-4{
    width: 80%;
    margin-left:100% !important;
    background-color: red;
    
    
}
.hrN12-4{
    background-color: red;
    margin-left:60% !important;
    width: 80%;
}
.hrN13-4{
    width: 80%;
    margin-left:10% !important;
    background-color: red;
}
.hrN14-4{
    width: 80%;
    /* margin-left: 0%; */
    /* margin-right:100% !important;
     */
     position: relative;
     right: 50%;
    background-color: red;
}
.RezultatetKrahutN41{
 padding-left:100%; 
} 
 .RezultatetKrahutN42{ 
    width: 40%;
     margin-left: 58.5%; 
} 
.RezultatetKrahutN43{
    width: 40%;
     margin-left: 10.5%; 
}
.RezultatetKrahutN44{
    width: 40%;
     /* margin-left: 15.5%;  */
     position: relative;
     right: 35%;
}
.hrN4{
    background-color: red;
    width: 23%;
    margin-left: 41.8%; 
}
.RezultatetKornizesN4{
    margin-left: 51%;
}
.TreguesiVleraveN4{
    margin-left: 35%;
}










@media(max-width:768px){
    /* 1 */
    .hr1-1{
        margin-top:0% !important;    
    }
    .RezultatetKrahut{
        position: absolute;
        top: 6%;
        left:0%
    }
    .RezultateKornizes{
        position: absolute;
        top: 56%;
        left:0%    }
    .hr1-2{
        margin-top: 0% !important;
    }
/* 2 */
    .hr21-1{
        margin-top:0% !important;    
    }
    .hr22-1{
        margin-top:0% !important;    
    }
    .RezultatetKrahut1{
        position: absolute;
        top: 7%;
        right:0%
    }
    .RezultatetKrahut2{
        position: absolute;
        top: 7%;
        left:0%
    }
    .RezultatetKornizes2{
        position: absolute;
        top: 20%;
        left:0%    }
    .hr21-2{
        margin-top: 0% !important;
    }
    /* 2 Ndarese */
    .hrN21-1{
        margin-top:0% !important;    
    }
    .hrN22-1{
        margin-top:0% !important;    
    }
    .RezultatetKrahutA1{
        position: absolute;
        top: 7%;
        right:0%
    }
    .RezultatetKrahutA2{
        position: absolute;
        top: 7%;
        left:0%
    }
    .RezultatetKornizesA2{
        position: absolute;
        top: 20%;
        right:10.5%    }
    .hrN21-2{
        margin-top: 0% !important;
    }
/* 3 */
.hr21-3{
    margin-top:0% !important;  
    width: 50%; 
    position: absolute;
    right: 5%;
}
.hr22-3{
    margin-top:0% !important;  
    width: 50%; 
    position: absolute;
    right: 20%;  
}
.hr23-3{
   margin-top:0% !important;
   width:100%;
   position:relative;
   right: 20%;  

}
.RezultatetKrahut31{
    position: absolute;
    top: 7%;
    right:0%
}
.RezultatetKrahut32{
    position: absolute;
    top: 7%;
    right:30%
}
.RezultatetKrahut33{
    position: absolute;
    top: 7%;
    right:44%
}
.RezultatetKornizes3{
    position: absolute;
    top: 20%;
    left:0%    }
.hr3{
    margin-top: 0% !important;
}


/* 3 Ndarese */
.hrN21-3{
    margin-top:0% !important;  
    width: 50%; 
    position: absolute;
    right: 5%;
}
.hrN22-3{
    margin-top:0% !important;  
    width: 50%; 
    position: absolute;
    right: 20%;  
}
.hrN23-3{
   margin-top:0% !important;
   width:100%;
   position:relative;
   right: 20%;  

}
.RezultatetKrahutN31{
    position: absolute;
    top: 2%;
    right:0%
}
.RezultatetKrahutN32{
    position: absolute;
    top: 7%;
    right:30%
}
.RezultatetKrahutN33{
    position: absolute;
    top: 7%;
    right:44%
}
.RezultatetKornizesN3{
    position: absolute;
    top: 20%;
    left:0%    }
.hrN3{
    margin-top: 0% !important;
}
















/* 4 */
/* .TreguesiVlerave4{
    margin-left: 15%;
}
.hr11-4{
    margin-top: 0%;
    width: 90% !important;
    position: absolute;
    left: 55%;
}
.hr12-4{
    margin-top: 0%;
    width: 90% !important;
    position: absolute;
    left: 15%;

}
.hr13-4{
    margin-top: 0%;
    width: 90% !important;
    position: absolute;
    left: 90%;
}
.hr14-4{
    margin-top: 0%;
    width: 90% !important;
    position: absolute;
    left: 15%;
 
 }
.RezultatetKrahut41{
    position: absolute;
    top:7%;
    left: 42%;
    font-size: 6px !important;
}
.RezultatetKrahut42{
    position: absolute;
    top:7%;
    left: 42%;
    font-size: 6px !important;

}
.RezultatetKrahut43{
    position: absolute;
    top:7%;
    left: 55% !important;
    font-size: 6px !important;

}
.RezultatetKrahut44{
    position: absolute;
    top:7%;
    left: 25%;
    font-size: 6px !important;

}
.RezultatetKornizes4{
    position: absolute;
    top:13%;
   left: 0%;
   font-size: 4.9px;

}
.hr4{
    margin-top: %;
   
} */
/* 4 Ndarese
.TreguesiVleraveN4{
    margin-left: 15%;
}
.hrN11-4{
    margin-top: 0%;
    width: 90% !important;
    position: relative;
    left: 555%;
}
.hrN12-4{
    margin-top: 0%;
    width: 90% !important;
    position: relative;
    left: 515%;

}
.hrN13-4{
    margin-top: 0%;
    width: 90% !important;
    position: relative;
    left: 490%;
}
.hrN14-4{
    margin-top: 0%;
    width: 90% !important;
    position: relative;
    left: 415%;
 
 }
.RezultatetKrahutN41{
    position: absolute;
    top:7%;
    left: 240%;
    font-size: 6px !important;
}
.RezultatetKrahutN42{
    position: absolute;
    top:7%;
    left: 246%;
    font-size: 6px !important;

}
.RezultatetKrahutN43{
    position: absolute;
    top:7%;
    left: 265% !important;
    font-size: 6px !important;

}
.RezultatetKrahutN44{
    position: absolute;
    top:7%;
    left: 235%;
    font-size: 6px !important;

}
.RezultatetKornizesN4{
    position: absolute;
    top:7%;
   left: 0%;
   font-size: 4.9px;

}
.hrN4{
    margin-top: 0%;
   
} */

#Rezultatet1{
    margin-left: 38%;
}
#Rezultatet{
    margin-left: 38%;
}
#RezultatetGjatNdarjes{
    margin-left: 31%;
}
#Rezultatet3{
    margin-left: 40%;

}
#RezultatetNdarse3{
    margin-left: 31%;

}
#Rezultatet4{
    margin-left: 36%;

}
#RezultatetN4{
    margin-left: 25%;

}


}

































@media(max-width:425px){
    /* 1 */
    .hr1-1{
        margin-top:0% !important;    
    }
    .RezultatetKrahut{
        position: absolute;
        top: 6%;
        left:0%
    }
    .RezultateKornizes{
        position: absolute;
        top: 56%;
        left:0%    }
    .hr1-2{
        margin-top: 0% !important;
    }
/* 2 */
    .hr21-1{
        margin-top:0% !important;    
    }
    .hr22-1{
        margin-top:0% !important;    
    }
    .RezultatetKrahut1{
        position: absolute;
        top: 7%;
        right:4.5%
    }
    .RezultatetKrahut2{
        position: absolute;
        top: 7%;
        left:2%
    }
    .RezultatetKornizes2{
        position: absolute;
        top: 20%;
        left:0%    }
    .hr21-2{
        margin-top: 0% !important;
    }
    /* 2 Ndarese */
    .hrN21-1{
        margin-top:0% !important;    
    }
    .hrN22-1{
        margin-top:0% !important;    
    }
    .RezultatetKrahutA1{
        position: absolute;
        top: 7%;
        right:3.5%
    }
    .RezultatetKrahutA2{
        position: absolute;
        top: 7%;
        left:0%
    }
    .RezultatetKornizesA2{
        position: absolute;
        top: 20%;
        right:10.5%    }
    .hrN21-2{
        margin-top: 0% !important;
    }
/* 3 */
.hr21-3{
    margin-top:0% !important;  
    width: 40%; 
    position: absolute;
    right: 57%;
}
.hr22-3{
    margin-top:0% !important;  
    width: 40%; 
    position: absolute;
    right: 105%;  
}
.hr23-3{
   margin-top:0% !important;
   width: 65%;
   position:relative;
   right: 190%;  

}
.RezultatetKrahut31{
    position: absolute;
    top: 7%;
    right:60%
}
.RezultatetKrahut32{
    position: absolute;
    top: 7%;
    right:100%
}
.RezultatetKrahut33{
    position: absolute;
    top: 7%;
    right:148%
}
.RezultatetKornizes3{
    position: absolute;
    top: 20%;
    left:0%    }
.hr3{
    margin-top: 0% !important;
}


/* 3 Ndarese */
.hrN21-3{
    margin-top:0% !important;  
    width: 40%; 
    position: absolute;
    right: 57%;
}
.hrN22-3{
    margin-top:0% !important;  
    width: 40%; 
    position: absolute;
    right: 105%;  
}
.hrN23-3{
   margin-top:0% !important;
   width: 65%;
   position:relative;
   right: 190%;  

}
.RezultatetKrahutN31{
    position: absolute;
    top: 7%;
    right:60%
}
.RezultatetKrahutN32{
    position: absolute;
    top: 7%;
    right:100%
}
.RezultatetKrahutN33{
    position: absolute;
    top: 7%;
    right:148%
}
.RezultatetKornizesN3{
    position: absolute;
    top: 20%;
    left:0%    }
.hrN3{
    margin-top: 0% !important;
}

/* 4 */
.TreguesiVlerave4{
    margin-left: 15%;
}
.hr11-4{
    margin-top: 0%;
    width:50% !important;
    position: relative;
    left: 130%;
}
.hr12-4{
    margin-top: 0%;
    width: 50% !important;
    position: relative;
    left: 60%;

}
.hr13-4{
    margin-top: 0%;
    width: 50% !important;
    position: relative; 
    left: 6.5%;
}
.hr14-4{
    margin-top: 0%;
    width: 50% !important;
    position: relative;
    right: 85%;
 
 }
.RezultatetKrahut41{
    position: absolute;
    top:7%;
    left: 57%;
    font-size: 4px !important;
}
.RezultatetKrahut42{
    position: absolute;
    top:7%;
    left: 35%;
    font-size: 4px !important;

}
.RezultatetKrahut43{
    position: absolute;
    top:7%;
    left: 23% !important;
    font-size: 4px !important;

}
.RezultatetKrahut44{
    position: absolute;
    top:7%;
    right: 88%;
    font-size: 4px !important;

}
.RezultatetKornizes4{
    position: absolute;
    top:7%;
   left: 0%;
   font-size: 4.9px;

}
.hr4{
    margin-top: 0%;
   
}
/* 4 Ndarese */
.TreguesiVleraveN4{
    margin-left: 15%;
}
.hrN11-4{
    margin-top: 0%;
    width:50% !important;
    position: relative;
    left: 130%;
}
.hrN12-4{
    margin-top: 0%;
    width: 50% !important;
    position: relative;
    left: 60%;

}
.hrN13-4{
    margin-top: 0%;
    width: 50% !important;
    position: relative;
    left: 8%;


}
.hrN14-4{
    margin-top: 0%;
    width: 50% !important;
    position: relative;
    right: 85%;
 
 }
.RezultatetKrahutN41{
    position: absolute;
    top:7%;
    left: 50%;
    font-size: 4px;

}
.RezultatetKrahutN42{
    position: absolute;
    top:7%;
    left: 35%;
    font-size: 4px;

}
.RezultatetKrahutN43{
    position: absolute;
    top:7%;
    left: 21% !important;
    font-size: 4px;

}
.RezultatetKrahutN44{
    position: absolute;
    top:7%;
    right: 88%;
    font-size: 4px;

}
.RezultatetKornizesN4{
    position: absolute;
    top:7%;
   left: 0%;
}
.hrN4{
    margin-top: 0%;
   
}













}

@media(max-width:375px){
    
    /* 2 */
    .hr21-1{
        margin-top:0% !important;  
        position: relative;
        left: 3%; 
    }
    .RezultatetKrahut1{
        margin-top: 0% !important;
        position: absolute;
        right: 2%; 
    }
    /* 2 Ndarese */
    .hrN21-1{
        margin-top:0% !important;  
        position: relative;
        left: 3%; 
    }
    .RezultatetKrahutA1{
        margin-top: 0% !important;
        position: absolute;
        right: 0%; 
    }
    /* 3 */
    .hr23-3{
        margin-top:0% !important;
        width: 65%;
        position:relative;
        right: 222%; 
     
     }

    /* 3 Ndarese */
    .hrN23-3{
        margin-top:0% !important;
        width: 65%;
        position:relative;
        right: 222%;  
     
     }
     /* 4 */
     .hr11-4{
        margin-top: 0%;
        width:56% !important;
        position: relative;
        left: 155%;
    }
    .hr12-4{
        margin-top: 0%;
        width: 56% !important;
        position: relative;
        left: 75%;
    
    }
    .hr13-4{
        margin-top: 0%;
        width: 56% !important;
    
    
    }
    .hr14-4{
        margin-top: 0%;
        width: 56% !important;
        position: relative;
        right: 105%;
     
     }
    .RezultatetKrahut41{
        position: absolute;
        top:7%;
        left: 53%;
        font-size: 1.5px;

    }
    .RezultatetKrahut42{
        position: absolute;
        top:7%;
        left: 35%;
        font-size: 1.5px;

    }
    .RezultatetKrahut43{
        position: absolute;
        top:7%;
        left: 7%;
        font-size: 1.5px;

    }
    .RezultatetKrahut44{
        position: absolute;
        top:7%;
        right: 88%;
        font-size: 1.5px;

    }
    .RezultatetKornizes4{
        position: absolute;
        top:7%;
       left: 0%;
    }
    .hr4{
        margin-top: 0%;
       
    }

    /* 4 Ndarese */
    .hrN11-4{
        margin-top: 0%;
        width:56% !important;
        position: relative;
        left: 145%;
        
    }
    .hrN12-4{
        margin-top: 0%;
        width: 56% !important;
        position: relative;
        left: 75%;
    
    }
    .hrN13-4{
        margin-top: 0%;
        width: 56% !important;
    
    
    }
    .hrN14-4{
        margin-top: 0%;
        width: 56% !important;
        position: relative;
        right: 100%;
     
     }
    .RezultatetKrahutN41{
        position: absolute;
        top:7%;
        left: 50%;
        font-size: 1.5px;

    }
    .RezultatetKrahutN42{
        position: absolute;
        top:7%;
        left: 35%;
        font-size: 1.5px;

    }
    .RezultatetKrahutN43{
        position: absolute;
        top:7%;
        left: 7%;
        font-size: 1.5px;

    }
    .RezultatetKrahutN44{
        position: absolute;
        top:7%;
        right: 88%;
        font-size: 1.5px;

    }
    .RezultatetKornizesN4{
        position: absolute;
        top:7%;
       left: 0%;
    }
    .hrN4{
        margin-top: 0%;
       
    }








}
@media(max-width:320px){
    /* 3 */
    .hr23-3{
        margin-top:0% !important;
        width: 75%;
        position:relative;
        right: 275%; 
     
     }
    /* 3 Ndarese */
    .hrN23-3{
        margin-top:0% !important;
        width: 75%;
        position:relative;
        right: 270%;  
     
     }
 /* 4 */
 .hr11-4{
    margin-top: 0%;
    width:56% !important;
    position: relative;
    left: 195%;
}
.hr12-4{
    margin-top: 0%;
    width: 56% !important;
    position: relative;
    left: 95%;

}
.hr13-4{
    margin-top: 0%;
    width: 56% !important;


}
.hr14-4{
    margin-top: 0%;
    width: 56% !important;
    position: relative;
    right: 135%;
 
 }
.RezultatetKrahut41{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    left: 50%;
    font-size: 1.5px;

}
.RezultatetKrahut42{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    left: 35%;
    font-size: 1.5px;

}
.RezultatetKrahut43{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    left: 7%;
    font-size: 1.5px;

}
.RezultatetKrahut44{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    right: 88%;
    font-size: 1.5px;

}
.RezultatetKornizes4{
    position: absolute;
    top:7%;
   left: 0%;
}
.hr4{
    margin-top: 0%;
   
}
/* 4 Ndarese */
.hrN11-4{
    margin-top: 0%;
    width:56% !important;
    position: relative;
    left: 195%;
}
.hrN12-4{
    margin-top: 0%;
    width: 56% !important;
    position: relative;
    left: 95%;

}
.hrN13-4{
    margin-top: 0%;
    width: 56% !important;


}
.hrN14-4{
    margin-top: 0%;
    width: 56% !important;
    position: relative;
    right: 135%;
 
 }
.RezultatetKrahutN41{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    left: 50%;
    

}
.RezultatetKrahutN42{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    left: 35%;
}
.RezultatetKrahutN43{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    left: 7%;
}
.RezultatetKrahutN44{
    font-size: 4.7px !important;
    position: absolute;
    top:7%;
    right: 88%;
}
.RezultatetKornizesN4{
    position: absolute;
    top:7%;
   left: 0%;
}
.hrN4{
    margin-top: 0%;
   
}






}

/* 1 */
.vertikaleKrahu{
     position:absolute;
    top:8%;
    /* left: 40%; */
    right: 85%;
    width: 0.15% !important;
    height: 80% !important;
    background-color: red;
}
.RezultatetVertikaleKrahu{
     position:absolute;
    top:40% !important;
    right: 90%;
}
.vertikaleKorniza{
    position:absolute;
    top:8%;
    /* left: 40%; */
    right: 115%;
    width: 0.15% !important;
    height: 80% !important;
    background-color: red;
}
.RezultatetVertikaleKorniza{
    position:absolute;
    top:40% !important;
    right: 120%;
}


/* 2 */

.vertikaleKrahu2{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 85%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu2{
    position:absolute;
   top:40% !important;
   right: 90%;
}
.vertikaleKorniza2{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza2{
   position:absolute;
   top:40% !important;
   right: 120%;
}

/* 2 Ndarese */
.vertikaleKrahuN2{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 85%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahuN2{
    position:absolute;
   top:43% !important;
   right: 90%;
}
.vertikaleKornizaN2{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKornizaN2{
   position:absolute;
   top:43% !important;
   right: 120%;
}

/* 3 */
.vertikaleKrahu3{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 85%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu3{
    position:absolute;
   top:43% !important;
   right: 90%;
}
.vertikaleKorniza3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza3{
   position:absolute;
   top:43% !important;
   right: 120%;
}
/* 3 Ndarese */
.vertikaleKrahuN3{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 85%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahuN3{
    position:absolute;
   top:43% !important;
   right: 90%;
}
.vertikaleKornizaN3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKornizaN3{
   position:absolute;
   top:43% !important;
   right: 120%;
}

/* 4 */

.vertikaleKrahu4{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 85%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu4{
    position:absolute;
   top:43% !important;
   right: 90%;
}
.vertikaleKorniza4{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza4{
   position:absolute;
   top:43% !important;
   right: 120%;
}

/* 4 Ndarese */

.vertikaleKrahu4N{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 85%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu4N{
    position:absolute;
   top:43% !important;
   right: 90%;
}
.vertikaleKorniza4N{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza4N{
   position:absolute;
   top:43% !important;
   right: 120%;
}

@media(max-width:425px){
 .RezultatetN-3 h4{
     margin-left: 16.5% !important;
 }
 .Rezultatet-4 h4{
    margin-left:33% !important;
}
.RezultatetN-4 h4{
    margin-left: 16.5% !important;
}

   /* 1 */
.vertikaleKrahu{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 95%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu{
    position:absolute;
   top:45% !important;
   right: 98%;
}
.vertikaleKorniza{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza{
   position:absolute;
   top:45% !important;
   right: 120%;
}


/* 2 */

.vertikaleKrahu2{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 95%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu2{
    position:absolute;
   top:45% !important;
   right: 98%;
}
.vertikaleKorniza2{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza2{
   position:absolute;
   top:45% !important;
   right: 120%;
}

/* 2 Ndarese */
.vertikaleKrahuN2{
   position:absolute;
  top:7%;
  /* left: 40%; */
  right: 93%;
  width: 0.15% !important;
  height: 79% !important;
  background-color: red;
}
.RezultatetVertikaleKrahuN2{
   position:absolute;
  top:43% !important;
  right: 95%;
}
.vertikaleKornizaN2{
  position:absolute;
  top:8%;
  /* left: 40%; */
  right: 115%;
  width: 0.15% !important;
  height: 79% !important;
  background-color: red;
}
.RezultatetVertikaleKornizaN2{
  position:absolute;
  top:43% !important;
  right: 120%;
}

/* 3 */
.vertikaleKrahu3{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu3{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza3{
   position:absolute;
   top:43% !important;
   right: 120%;
 }
 
/* 3 Ndarese */
.vertikaleKrahuN3{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahuN3{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKornizaN3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKornizaN3{
   position:absolute;
   top:43% !important;
   right: 120%;
 }

/* 4 */

.vertikaleKrahu4{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu4{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza4{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza4{
   position:absolute;
   top:43% !important;
   right: 120%;
 }


/* 4 Ndarese */

.vertikaleKrahu4N{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu4N{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza4N{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza4N{
   position:absolute;
   top:43% !important;
   right: 120%;
 }

}



@media(max-width:375px){

 .Rezultatet1 h4{
     margin-left: 25% !important;
 }
 .Rezultatet h4{
    margin-left: 25% !important;
}
.RezultatetL h4{
    margin-left: 11% !important;
}
.RezultatetN-3 h4{
    margin-left: 10.5% !important;
}
.Rezultatet-4 h4{
    margin-left: 30% !important;
}
.RezultatetN-4 h4{
    margin-left: 11% !important;
}
     /* 1 */
.vertikaleKrahu{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 95%;
   width: 0.20% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu{
    position:absolute;
   top:45% !important;
   right: 98%;
}
.vertikaleKorniza{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza{
   position:absolute;
   top:45% !important;
   right: 120%;
}


/* 2 */

.vertikaleKrahu2{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 95%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu2{
    position:absolute;
   top:45% !important;
   right: 98%;
}
.vertikaleKorniza2{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 115%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza2{
   position:absolute;
   top:45% !important;
   right: 120%;
}

/* 2 Ndarese */
.vertikaleKrahuN2{
   position:absolute;
  top:7%;
  /* left: 40%; */
  right: 93%;
  width: 0.15% !important;
  height: 79% !important;
  background-color: red;
}
.RezultatetVertikaleKrahuN2{
   position:absolute;
  top:43% !important;
  right: 95%;
}
.vertikaleKornizaN2{
  position:absolute;
  top:8%;
  /* left: 40%; */
  right: 117%;
  width: 0.15% !important;
  height: 79% !important;
  background-color: red;
}
.RezultatetVertikaleKornizaN2{
  position:absolute;
  top:43% !important;
  right: 120%;
}

/* 3 */
.vertikaleKrahu3{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu3{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza3{
   position:absolute;
   top:43% !important;
   right: 120%;
 }
 
/* 3 Ndarese */
.vertikaleKrahuN3{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahuN3{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKornizaN3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKornizaN3{
   position:absolute;
   top:43% !important;
   right: 120%;
 }

/* 4 */

.vertikaleKrahu4{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu4{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza4{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza4{
   position:absolute;
   top:43% !important;
   right: 120%;
 }


/* 4 Ndarese */

.vertikaleKrahu4N{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu4N{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza4N{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza4N{
   position:absolute;
   top:43% !important;
   right: 120%;
 }


}

@media(max-width:320px){
    .Rezultatet1 h4{
        margin-left: 20% !important;
    }
    .Rezultatet h4{
       margin-left: 20% !important;
   }
   .RezultatetL h4{
       margin-left:2% !important;
   }
   .Rezultatet-3 h4{
    margin-left: 25% !important;
}
   .RezultatetN-3 h4{
       margin-left: 2% !important;
   }
   .Rezultatet-4 h4{
       margin-left: 25% !important;
   }
   .RezultatetN-4 h4{
       margin-left: 2% !important;
   }
         /* 1 */
.vertikaleKrahu{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 95%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu{
    position:absolute;
   top:45% !important;
   right: 98%;
}
.vertikaleKorniza{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 120%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza{
   position:absolute;
   top:45% !important;
   right: 125%;
}


/* 2 */

.vertikaleKrahu2{
    position:absolute;
   top:8%;
   /* left: 40%; */
   right: 95%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKrahu2{
    position:absolute;
   top:45% !important;
   right: 98%;
}
.vertikaleKorniza2{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 120%;
   width: 0.15% !important;
   height: 80% !important;
   background-color: red;
}
.RezultatetVertikaleKorniza2{
   position:absolute;
   top:45% !important;
   right: 123%;
}

/* 2 Ndarese */
.vertikaleKrahuN2{
   position:absolute;
  top:7%;
  /* left: 40%; */
  right: 93%;
  width: 0.15% !important;
  height: 79% !important;
  background-color: red;
}
.RezultatetVertikaleKrahuN2{
   position:absolute;
  top:43% !important;
  right: 95%;
}
.vertikaleKornizaN2{
  position:absolute;
  top:8%;
  /* left: 40%; */
  right: 117%;
  width: 0.15% !important;
  height: 79% !important;
  background-color: red;
}
.RezultatetVertikaleKornizaN2{
  position:absolute;
  top:43% !important;
  right: 120%;
}

/* 3 */
.vertikaleKrahu3{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu3{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza3{
   position:absolute;
   top:43% !important;
   right: 122%;
 }
 
/* 3 Ndarese */
.vertikaleKrahuN3{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahuN3{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKornizaN3{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKornizaN3{
   position:absolute;
   top:43% !important;
   right: 122%;
 }

/* 4 */

.vertikaleKrahu4{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu4{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza4{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza4{
   position:absolute;
   top:43% !important;
   right: 120%;
 }


/* 4 Ndarese */

.vertikaleKrahu4N{
    position:absolute;
   top:7%;
   /* left: 40%; */
   right: 94%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKrahu4N{
    position:absolute;
   top:43% !important;
   right: 97%;
 }
 .vertikaleKorniza4N{
   position:absolute;
   top:8%;
   /* left: 40%; */
   right: 118%;
   width: 0.15% !important;
   height: 79% !important;
   background-color: red;
 }
 .RezultatetVertikaleKorniza4N{
   position:absolute;
   top:43% !important;
   right: 120%;
 }




}